<?xml version="1.0" standalone='no'?><!--*-nxml-*-->
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
        <name replace-wildcards="yes">espserver</name>
        <service>
                <type>_esp._tcp</type>
                <port>5000</port>
        </service>
</service-group>